node_modules
.sass-cache
.idea
*.DS_Store
*.swp
.project
.settings
*.iml
.builder_cache

tests/test.js
tests/test-out.js
test.js
testout.js

transpiler/module
transpiler/arrayComprehension.js
transpiler/typeofNull.js
